<% provide(:title, "Contact") %>
<h1 class="text-center display-1">Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a class="text-decoration-none" href="https://www.railstutorial.org/contact">contact page</a>.
</p>
